@font-face {
  font-family: "Mplus1";
  src: url("../public/fonts/Mplus1-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Meyrin";
  src: url("../public/fonts/Meyrin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* It's so hard to decide!!! */
/*
@font-face {
  font-family: "Junction";
  src: url("../public/fonts/junction-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LeagueMono";
  src: url("../public/fonts/LeagueMono-NarrowMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LabMono";
  src: url("../public/fonts/labmono-regular-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

@import "tailwindcss";

:root {
  --background: #94849b;
  --foreground: #2e3532;
  --pale-slate: #c7cedb;
  --dusty-olive: #7e9181;
  --cool-steel: #a0aab2;
  --golden-orange: #f1a208;
  --golden-sand: #d5c67a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-seaweed: var(--seaweed);
  --color-golden-orange: var(--golden-orange);
  --color-golden-sand: var(--golden-sand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2e3532;
    --foreground: var(--pale-slate);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Mplus1", sans-serif;
}

#main {
  padding: 2em;
}

p {
  margin-bottom: 1.5em;
}

a {
  font-weight: 700;
}

a:hover {
  color: var(--background);
  background: var(--foreground);
}

#ticker {
  font-family: "Meyrin", sans-serif;
}
